html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sigmar One';
  font-size: 3rem;
  color: #b20953;
  margin: 0px;
  text-align: center;
}

header {
  background-color: #ffe500;
  padding-bottom: 1px;
  margin: 0px;
}

a {
  font-family: Georgia;
  font-size: 1.125rem;
  color: #fff;
  background-color: #b2a212;
  text-decoration: none;
  padding: .2em .5em .3em;
  margin: .1em;
  border-radius: 4px;
  text-align: center;
}

li {
  display: inline-block;
    padding-top: 0;
}

ul {
    list-style-type: none;
}

h2 {
  font-family: 'Sigmar One';
  font-size: 1.875rem;
  color: #b20953;
}
