html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sigmar One';
  font-size: 3rem;
  color: #b20953;
  margin: 0;
}

header {
  text-align: center;
  background-color: #ffe500;
}

a {
  font-family: Georgia;
  font-size: 1.125rem;
  color: #fff;
  background-color: #b2a212;
  text-decoration: none;
  padding: .2em .5em .3em;
  margin: .3em;
  border-radius: 4px;
}

li {
  display: inline-block;
}

ul {
    list-style-type: none;
}

h2 {
  font-family: 'Sigmar One';
}
