html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sigmar One';
  font-size: 3rem;
  color: #b20953;
  margin: 0px;
  text-align: center;
  padding-bottom: 1px;
  margin-bottom: 0;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe500;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
}

a {
  font-family: Georgia;
  font-size: 1.125rem;
  color: #fff;
  background-color: #b2a212;
  text-decoration: none;
  padding: .75em;
  margin: 0;
  border-radius: 4px;
  text-align: center;
}

a:hover {
  background-color: #cc1465;
}

li {
  display: inline-block;
  margin-top: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

h2 {
  font-family: 'Sigmar One';
  font-size: 1.875rem;
  color: #b20953;
  margin: .3em;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: .75em;
}

img {
  width: 100%
}

.blueberry-image, .grapes-image, .red-currants-image {
  margin: .3em;
}

p {
  font-size: 1.125rem;
  margin: .3em;
  color: #2f2d13;
}

.current {
  background-color: #cc1465;
}
