html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sigmar One';
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-family: 'Sigmar One';
}
