html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Sigmar One';
  font-size: 3rem;
  color: #b20953;
  margin: 0px;
  text-align: center;
  padding-bottom: 1px;
  margin-bottom: 0;
}

header {
  background-color: #ffe500;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}

a {
  font-family: Georgia;
  font-size: 1.125rem;
  color: #fff;
  background-color: #b2a212;
  text-decoration: none;
  padding: .2em .5em .3em;
  margin: 0;
  border-radius: 4px;
  text-align: center;
}

a:hover {
  background-color: #cc1465;
}

li {
  display: inline-block;
  padding-top: 0;
  margin-top: 0;
}

ul {
    list-style-type: none;
}

nav ul {
  padding: 0;
  list-style: none;
  text-align: center;
  position: absolute;
  top: 60px;
}

h2 {
  font-family: 'Sigmar One';
  font-size: 1.875rem;
  color: #b20953;
}

footer {
  text-align: center;
  background-color: #ffe500;
  padding: .75em;
}

img {
  width: 100%;
}

p {
  font-size: 1.125rem;
}

.current {
  background-color: #cc1465;
}
